<!-- hero.component.html -->
<div class="header-30">
  <div class="column63">
    <div class="content109">
      <b class="medium-length-hero">Trouvez votre habitat unique en harmonie avec la nature</b>
      <div class="lorem-ipsum-dolor17">
        Découvrez des hébergements uniques et alternatifs pour une expérience hors du commun.
      </div>
    </div>
    <div class="actions29">
      <a routerLink="/list-appart"><button class="styleprimary-smallfalse-da14 btn-primary">Explorer</button></a>
      <a routerLink="/cat"><button class="stylesecondary-smallfalse18 btn-secondary">En savoir plus</button></a>
    </div>
  </div>
</div>
