<div class="container">
  <h1>Conditions Générales d'Utilisation (C.G.U)</h1>

  <h2>1. Objet des C.G.U :</h2>
  <p>Les présentes conditions générales d'utilisation ont pour objet de définir les modalités de mise à disposition des services du site <a href="http://www.atypikhouse.fr" target="_blank">www.atypikhouse.fr</a> et les conditions d'utilisation du service par l'Utilisateur.</p>

  <h2>2. Accès au site :</h2>
  <p>Le site est accessible gratuitement à tout utilisateur disposant d'un accès à internet. Tous les coûts afférents à l'accès au service (matériel informatique, logiciels, connexion Internet, etc.) sont à la charge de l'utilisateur.</p>

  <h2>3. Responsabilité de l'utilisateur :</h2>
  <p>L'utilisateur s'engage à utiliser le site et les informations mises à sa disposition dans un but conforme à l'ordre public, aux bonnes mœurs et aux droits des tiers.</p>

  <h2>4. Contenu du site :</h2>
  <p>Le site contient des informations protégées par le droit de la propriété intellectuelle. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite.</p>

  <h2>5. Protection des données personnelles :</h2>
  <p><strong>AtypikHouse</strong> s'engage à protéger les données personnelles de ses utilisateurs. Les informations recueillies sont nécessaires pour le traitement des réservations et l'amélioration des services.</p>

  <h2>6. Modification des C.G.U :</h2>
  <p><strong>AtypikHouse</strong> se réserve le droit de modifier les présentes conditions générales d'utilisation à tout moment. Les utilisateurs sont invités à consulter régulièrement ces conditions.</p>

  <h2>7. Droit applicable et juridiction compétente :</h2>
  <p>Les présentes conditions générales d'utilisation sont soumises au droit français. En cas de litige, les tribunaux français seront seuls compétents.</p>
</div>
