<div class="layout-24">
  <div class="container27">
    <div class="content96">
      <img class="icon-relume1" alt="" />
      <div class="content97">
        <b class="heading43" id="history">Notre histoire est celle d'une SARL...</b>
        <div class="text69">
          Avec un capital de 10 000€, formée par 3 associés passionnés de voyages, désireux de procurer à autrui des expériences mémorables, à l'image de celles qu'ils ont vécues.
         </div>
        <div class="text69">
          Chez AtypikHouse, nous sommes convaincus que vivre dans des lieux de séjour hors du commun, apporte une touche de magie à la vie.
        </div>
      </div>
    </div>
    <img class="placeholder-image-icon38" alt="illustration_de_membres_travaillant_chez_atypikHouse" src="../../assets/images/placeholder-image22@2x.png" />
  </div>
</div>
