<div class="team-12">
  <div class="section-title20">
    <div class="tagline5">À Propos</div>
    <div class="content98">
      <b class="heading43">Notre équipe</b>
      <div class="text69">Rencontrez les membres de notre équipe dévouée.</div>
    </div>
  </div>
  <div class="content99">
    <div class="content100">
      <div class="row13">
        <!-- Team Member 1: Jean Dupont -->
        <div class="card12">
          <img
            class="placeholder-image-icon39"
            alt="Jean Dupont"
            src="../../assets/images/placeholder-image23@2x.png"
          />
          <div class="content101">
            <div class="title13">
              <div class="name7">Jean Dupont</div>
              <div class="text69">Directeur marketing</div>
            </div>
            <div class="text70">
              Jean est un expert en marketing avec une passion pour la créativité.
            </div>
          </div>
          <div class="social-icons">
            <img class="icon-dribble" alt="LinkedIn" src="../../assets/images/icon--linkedin1.svg" />
            <img class="icon-dribble" alt="X" src="../../assets/images/icon--x1.svg" />
            <img class="icon-dribble" alt="Dribbble" src="../../assets/images/icon--dribble.svg" />
          </div>
        </div>

        <!-- Team Member 2: Marie Martin -->
        <div class="card12">
          <img
            class="placeholder-image-icon39"
            alt="Marie Martin"
            src="../../assets/images/placeholder-image24@2x.png"
          />
          <div class="content101">
            <div class="title13">
              <div class="name7">Marie Martin</div>
              <div class="text69">Designer graphique</div>
            </div>
            <div class="text70">
              Marie est une designer talentueuse qui apporte une touche artistique à nos projets.
            </div>
          </div>
          <div class="social-icons">
            <img class="icon-dribble" alt="LinkedIn" src="../../assets/images/icon--linkedin1.svg" />
            <img class="icon-dribble" alt="X" src="../../assets/images/icon--x1.svg" />
            <img class="icon-dribble" alt="Dribbble" src="../../assets/images/icon--dribble.svg" />
          </div>
        </div>
      </div>

      <div class="row14">
        <!-- Team Member 3: Pierre Dubois -->
        <div class="card12">
          <img
            class="placeholder-image-icon39"
            alt="Pierre Dubois"
            src="../../assets/images/placeholder-image25@2x.png"
          />
          <div class="content101">
            <div class="title13">
              <div class="name7">Pierre Dubois</div>
              <div class="text69">Développeur web</div>
            </div>
            <div class="text70">
              Pierre est un développeur expérimenté qui transforme nos idées en réalité numérique.
            </div>
          </div>
          <div class="social-icons">
            <img class="icon-dribble" alt="LinkedIn" src="../../assets/images/icon--linkedin1.svg" />
            <img class="icon-dribble" alt="X" src="../../assets/images/icon--x1.svg" />
            <img class="icon-dribble" alt="Dribbble" src="../../assets/images/icon--dribble.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
