<div class="header-472">
  <div class="content84">
    <div class="column52">
      <div class="tagline4">Réservez</div>
      <b class="short-heading-here8">Contactez-nous dès maintenant</b>
    </div>
    <div class="column53">
      <div class="lorem-ipsum-dolor14">
        Pour réserver un appartement, contactez-nous dès maintenant. Nous sommes là pour vous aider à trouver l'hébergement parfait pour votre prochaine aventure.
      </div>
      <div class="actions25">
        <a href="#contact" class="styleprimary-smallfalse-da14 btn-primary">contactez-nous</a>
        <a href="#contact-infos" class="stylesecondary-smallfalse15 btn-secondary">En savoir plus</a>
      </div>
    </div>
  </div>
</div>
