<div class="body">
  
  <div class="banner">
      <div class="hero">
          <h1>Des habitats insolites, comme vous n'en avez jamais vu !</h1>
          <p>Devenez propriétaire ou louez facilement, 
            explorez nos services pour louer vos apparts insolites en toute confiance et sérénité.
          </p>
          <button class="btn btn-primary styleprimary-smallfalse-da14" routerLink="/list-appart">Voi plus</button>
      </div>
  </div>
  <div class="container locataires">
      <div class="hero hero-body">
          <h2>Vous désirez une expérience jamais vécue ?</h2>
          <p>Avec Atypik House, chaque jour, un grand nombre de particuliers et d'entreprises vous 
              proposent une sélection unique d'appartements insolites et de logements hors du commun.
              Que vous soyez à la recherche d'une cabane nichée au cœur de la forêt, 
              d'une maison flottante ou d'une habitation atypique, nous facilitons la mise en relation 
              entre vous et les propriétaires pour que vous puissiez vivre des expériences mémorables.
              Il ne vous reste plus qu'à choisir votre prochaine escapade et profiter pleinement de ce moment exceptionnel.
          </p>
          <button class="btn btn-primary styleprimary-smallfalse-da14 btn-consult" routerLink="/list-appart">Consulter habitats</button>
      </div>
      <img src="./../../../../assets/images/location.svg" alt="appartInsolite" class="img-prop" width="600px" height="400px">
  </div>
  <div class="container propriétaire">
      <img src="./../../../../assets/images/propriétaire.svg" alt="appartInsolite" class="img-loc" width="600px" height="400px">
      <div class="hero hero-body">
          <h2>Devenez nos partenaires !</h2>
          <p>Proposez vos appartements les plus atypiques et originaux en location avec Atypik House, la toute 
              nouvelle plateforme dédiée aux passionnés d'aventure et aux amateurs de lieux insolites.
               Que vous soyez propriétaire d'une cabane perchée, d'un loft industriel unique ou d'une maison 
               flottante, notre plateforme vous permet de partager votre bien avec une communauté en quête d'expériences inoubliables. 
          En plus de faire découvrir des logements hors du commun, vous avez l'opportunité de générer des 
          revenus tout en offrant des moments mémorables à vos locataires.
          </p>
          <button class="btn btn-primary styleprimary-smallfalse-da14 btn-post" routerLink="/add-appart">Publier un habitat</button>
      </div>
  </div>
  <div class="stats-3">
      <div class="content79">
        <div class="column45">
          <div class="subheading2">Expérience unique</div>
          <b class="heading36">Avis des utilisateurs sur nos appartements</b>
        </div>
        <span class=""></span>
        <div class="column46">
          <div class="text56">
            Découvrez ce que nos clients disent de nos appartements. Leurs
            avis étoilés témoignent de leur satisfaction et de l'expérience
            exceptionnelle qu'ils ont vécue.
          </div>
          <div class="actions22">
            <div class="stylesecondary-smallfalse12 btn-primary">
              <div class="link-one9" routerLink="/list-appart">Réserver maintenant</div>
            </div>
          </div>
        </div>
      </div>
      <div class="stats">
        <div class="stat">
          <b class="heading33">90%</b>
          <b class="text58">Excellent séjour</b>
        </div>
        <div class="stat">
          <b class="heading33">85%</b>
          <b class="text58">Hébergement Insolite</b>
        </div>
        <div class="stat">
          <b class="heading33">95%</b>
          <b class="text58">Expérience inoubliable</b>
        </div>
      </div>
    </div>
    <div class="cta-19">
      <div class="content62">
        <div class="content80">
          <b class="short-heading-here7">Trouvez votre appartement idéal</b>
          <div class="lorem-ipsum-dolor13">
            Découvrez notre sélection d'appartements sous l'eau.
          </div>
        </div>
        <div class="actions23">
          <div class="stylesecondary-smallfalse11 btn-primary">
            <div class="link-one9" routerLink="/cat">Réserver</div>
          </div>
          <div class="stylesecondary-smallfalse13 btn-secondary">
            <div class="link-one9" routerLink="/cat">En savoir plus</div>
          </div>
        </div>
      </div>
    </div>
    <div class="cta-3">
      <div class="content62">
        <div class="content80">
          <b class="short-heading-here7">Gagnez de l'argent en louant</b>
          <div class="lorem-ipsum-dolor13">
            Mettez votre appartement en location sur AtypickHouse et augmentez
            vos revenus.
          </div>
        </div>
        <div class="actions24">
          <div class="stylesecondary-smallfalse11 btn-primary">
            <div class="link-one9" routerLink="/register">Commencer</div>
          </div>
        </div>
      </div>
    </div>
</div>