<!-- testimonials.component.html -->
<div class="testimonial-5">
  <div class="section-title23">
    <b class="medium-length-hero">Témoignages clients</b>
    <div class="lorem-ipsum-dolor17">
      Découvrez ce que nos clients disent de nous
    </div>
  </div>
  <div class="content115">
    <div class="column64">
      <div class="stars3">
        <img class="vector-icon18" alt="" src="../../../../assets/images/vector.svg" />
        <img class="vector-icon18" alt="" src="../../../../assets/images/vector.svg" />
        <img class="vector-icon18" alt="" src="../../../../assets/images/vector.svg" />
        <img class="vector-icon18" alt="" src="../../../../assets/images/vector.svg" />
        <img class="vector-icon18" alt="" src="../../../../assets/images/vector.svg" />
      </div>
      <b class="quote3">« J'ai passé un séjour incroyable dans l'une des maisons d'AtypikHouse. L'expérience était inoubliable et m'a permis de me ressourcer en pleine nature. Je recommande vivement ! »</b>
      <div class="avatar3">
        <img class="avatar-image-icon3" alt="hoto_de_profil_témoin" src="../../../../assets/images/avatar-image@2x.png" />
        <div class="avatar-content3">
          <div class="subheading8-name">Christain CHEVALIER</div>
          <div class="link-one15">Mannequin pour BoohoMan</div>
        </div>
      </div>
    </div>
    <div class="column64">
      <div class="stars3">
        <img class="vector-icon18" alt="étoile" src="../../../../assets/images/vector.svg" />
        <img class="vector-icon18" alt="étoile" src="../../../../assets/images/vector.svg" />
        <img class="vector-icon18" alt="étoile" src="../../../../assets/images/vector.svg" />
        <img class="vector-icon18" alt="étoile" src="../../../../assets/images/vector.svg" />
        <img class="vector-icon18" alt="étoile" src="../../../../assets/images/vector.svg" />
      </div>
      <b class="quote3">« J'ai adoré mon séjour dans la cabane abandonnée en plein coeur de l'amazonie. L'endroit était magnifique et l'équipe était très accueillante. Je reviendrai certainement ! »</b>
      <div class="avatar3">
        <img class="avatar-image-icon3" alt="photo_de_profil_témoin" src="../../../../assets/images/avatar-image1@2x.png" />
        <div class="avatar-content3">
          <div class="subheading8-name">Estelle BRIOCHE</div>
          <div class="link-one15">Actrice & coach de pooldance</div>
        </div>
      </div>
    </div>
  </div>
</div>
