* {
    font-family: poppins;
}

h1 {
    font-size: 3rem;
}
p {
    font-size: 1.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    width: 100%;
    padding: 20px;
}

.text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.img {
    box-shadow: none;
    width: 600px;
    height: 600px;
}
.logo {
    width: 40px;
    position: relative;
    box-shadow: none;
    margin-top: 20px;
    align-self: center;
    justify-content: center;
    margin-left: 20px;
    color: black;
  }