
<a routerLink="/list-appart"><img src="../../../../../../assets/images/back-arrow-direction-down-right-left-up-svgrepo-com_Black.svg"  height="80px" class="logo"></a>
<div class="container">
    <p>
        <img src="../../../../../../assets/images/undraw_cancel_re_pkdm.svg" class="img">
    </p>

    <div class="text">
        <h1>Oups...</h1>
        <p>Avant de publier un appart, vous devez être propriétaire.</p>
        <p>Veuillez vous inscrire en tant que propriétaire en <a routerLink="/register">cliquant-ici.</a></p> 
    </div>
</div>    
