.link-one13 {
  position: relative;
  line-height: 150%;
}
.nav-link-dropdown10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column55 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.column54 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.color-dark13 {
  width: 3.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.content94 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.styleprimary-smalltrue-dar5 {
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
}
.column56 {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--background-color-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.container26 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.navbar-310 {
  width: 100%;
  background-color: var(--background-color-primary);
  border-bottom: 1px solid var(--text-primary);
  box-sizing: border-box;
  height: 4rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem var(--padding-45xl);
}
.tagline5 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  opacity: 0;
}
.short-heading-here9 {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-desktop-h1-size);
  line-height: 120%;
  text-align: left;
}
.column57 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.lorem-ipsum-dolor15 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.styleprimary-smallfalse-da11 {
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
}
.stylesecondary-smallfalse16 {
  border-radius: var(--br-31xl);
  border: 1px solid var(--text-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
}
.actions26 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0rem 0rem;
  gap: var(--gap-base);
  font-size: var(--text-regular-link-size);
}
.column58 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--text-medium-semi-bold-size);
}
.content95 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.header-473 {
  width: 100%;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  text-align: center;
}

.heading43 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.text69 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-medium-semi-bold-size);
  line-height: 150%;
}
.content97 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.content96 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.placeholder-image-icon38 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 35.556rem;
  object-fit: cover;
}
.container27 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.layout-24 {
  width: 100%;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  font-size: var(--heading-desktop-h3-size);
}
.content98 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--heading-desktop-h2-size);
}
.section-title20 {
  width: 42.667rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.placeholder-image-icon39 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 22.5rem;
  flex-shrink: 0;
  object-fit: cover;
}
.name7 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.title13 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text70 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-regular-link-size);
  line-height: 150%;
}
.content101 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.icon-dribble {
  width: 1.333rem;
  position: relative;
  height: 1.333rem;
  overflow: hidden;
  flex-shrink: 0;
}
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.card12 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.row13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.row14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.content100 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.content99 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--heading-desktop-h6-size);
}
.team-12 {
  width: 100%;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
}
.content105 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--heading-desktop-h2-size);
}
.section-title21 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.stylelink-smallfalse-dark5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.actions27 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) 0rem 0rem;
  gap: var(--gap-5xl);
  text-align: left;
}
.placeholder {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.typedefault21 {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--background-color-primary);
  border: 1px solid var(--text-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.styleprimary-smallfalse-da12 {
  width: 5.722rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  color: var(--text-primary);
}
.form5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.by-clicking-sign {
  align-self: stretch;
  position: relative;
  font-size: var(--text-tiny-normal-size);
  line-height: 150%;
  color: var(--text-primary);
}
.actions28 {
  width: 28.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0rem 0rem;
  box-sizing: border-box;
  gap: var(--gap-base);
  font-size: var(--text-regular-link-size);
  color: var(--color-neutral-neutral);
}
.placeholder-image-icon43 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 22.222rem;
  object-fit: cover;
}
.cta-2 {
  width: 100%;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  font-size: var(--heading-desktop-h2-size);
}
.logo3 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-four3 {
  width: 5.389rem;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.links3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.social-links3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xs);
}
.content107 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.divider3 {
  align-self: stretch;
  position: relative;
  background-color: var(--text-primary);
  border: 1px solid var(--text-primary);
  box-sizing: border-box;
  height: 0.056rem;
}
.privacy-policy3 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.row15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.credits3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--text-small-link-size);
}
.footer-43 {
  width: 100%;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
}
.propos {
  position: relative;
  background-color: var(--color-silver);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-regular-link-size);
  color: var(--text-primary);
  font-family: var(--text-medium-semi-bold);
}

@media (max-width: 768px) {
  .content95 {
    flex-flow: column wrap;
  }
  .container27 {
    flex-flow: column-reverse wrap;
    gap: var(--gap-5xs);
  }
  .heading43 {
    font-size: var(--text-regular-link-size);
    line-height: 120%;
  }
  .layout-24 {
    padding-bottom: 0;
  }
  .header-473 {
    padding-top: 0px;
  }

  .content117 {
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center;
    width: 99%;
  }
}

@media (max-width: 480px) {
  .row13{
    flex-flow: column wrap;
  }
  .layout-24 {
    padding-top: 0;
    margin-top: 0;
  }
  .actions27 {
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .cta-2 {
    padding: 2px;
  }
  .container27 {
    width: 98%;
  }

  .content97, .form5 {
    width: 80%;
  }
  .content97 {
    align-self: center;
  }

}