.nav-link-dropdown7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column31 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.column30 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.color-dark7 {
  width: 80px;
  position: relative;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
}
.content48 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.styleprimary-smalltrue-dar2 {
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
}
.column32 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.container21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.navbar-37 {
  width: 80rem;
  background-color: var(--background-color-primary);
  border-bottom: 1px solid var(--text-primary);
  box-sizing: border-box;
  height: 4rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem var(--padding-45xl);
}
.short-heading-here6 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.lorem-ipsum-dolor12 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-medium-semi-bold-size);
  line-height: 150%;
}
.content49 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--heading-desktop-h1-size);
}
.section-title15 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.styleprimary-smallfalse-da6 {
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
}
.stylesecondary-smallfalse7 {
  border-radius: var(--br-31xl);
  border: 1px solid var(--background-color-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  color: var(--background-color-primary);
}
.actions18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0rem 0rem;
  gap: var(--gap-base);
  color: var(--text-primary);
}
.container22 {
  width: 42.667rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.header-501 {
  width: 80rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  background-image: url("../../assets/images/header--501@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--background-color-primary);
}
.subheading {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  opacity: 0;
}
.content50 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--heading-desktop-h2-size);
}
.section-title16 {
  width: 42.667rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.placeholder-image-icon22 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 13.333rem;
  flex-shrink: 0;
  object-fit: cover;
}
.heading18 {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.text38 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-regular-link-size);
  line-height: 150%;
}
.content52 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.column33 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.row6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.stylelink-smallfalse-dark1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.actions19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) 0rem 0rem;
  gap: var(--gap-5xl);
  font-size: var(--text-regular-link-size);
}
.content51 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  text-align: left;
  font-size: var(--heading-desktop-h4-size);
}
.layout-249 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
}
.logo {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-four {
  width: 5.389rem;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.icon-facebook {
  width: 1.333rem;
  position: relative;
  height: 1.333rem;
  overflow: hidden;
  flex-shrink: 0;
}
.social-links {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xs);
}
.content60 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.divider {
  align-self: stretch;
  position: relative;
  background-color: var(--text-primary);
  border: 1px solid var(--text-primary);
  box-sizing: border-box;
  height: 0.056rem;
}
.relume-all-rights {
  position: relative;
  line-height: 150%;
}

.btn-large {
  width: 100%;
}
.privacy-policy {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.footer-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.credits {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--text-small-link-size);
}
.footer-4 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
}
.catgories {
  position: relative;
  background-color: var(--color-silver);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-regular-link-size);
  color: var(--text-primary);
  font-family: var(--text-medium-semi-bold);
}

/*Modifications*/
.navbar-37, .header-501, .layout-249, .footer-4 {
  width: 100%;
  max-width: 100%; /* Retirer toute limitation de largeur */
  margin: 0 auto;
}
.styleprimary-smallfalse-da6, .stylesecondary-smallfalse7 {
  width: 100%;
  max-width: 14.833rem; /* Ajustez selon vos besoins */
}
.placeholder-image-icon22 {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.search {
  align-self: flex-end;
}


/*REsponsive ordinateur petites tailles*/

@media (max-width: 768px) {
  .container22 {
    width: 98%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-37, .header-501, .layout-249, .footer-4 {
      text-align: center; /* Centrer le contenu pour les petits écrans */
  }

  .actions18, .actions19 {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
  }

  .content117 {
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center;
    width: 99%;
  }
}

@media (max-width: 480px) {
  .navbar-37, .header-501, .layout-249, .footer-4 {
      padding: 10px;
  }
  .section-title16 {
    width: 98%;
    height: auto;
  }

  .row6 {
    display: flex;
    flex-flow: column wrap;
  }

  .column33 {
    display: flex;
    flex-flow: column-reverse wrap;
  }


  .navbar-37 {
      padding: 0;
  }

  .content49, .content50, .content51, .content52 {
      padding: 0 10px;
  }

  .placeholder-image-icon22 {
      width: 100%;
      height: auto; /* Ajuster la hauteur automatiquement pour les petits écrans */
  }

  .styleprimary-smallfalse-da6, .stylesecondary-smallfalse7 {
      width: 100%;
      max-width: 100%; /* Occuper toute la largeur disponible sur mobile */
  }
}
