.link-one11 {
  position: relative;
  line-height: 150%;
}
.chevron-down-icon9 {
  width: 1.333rem;
  position: relative;
  height: 1.333rem;
  overflow: hidden;
  flex-shrink: 0;
}
.nav-link-dropdown9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column50 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.column49 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.color-dark11 {
  width: 80px;
  position: relative;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
}
.content83 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.styleprimary-smalltrue-dar4 {
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
}
.column51 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.container24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.navbar-39 {
  width: 100%;
  background-color: var(--background-color-primary);
  border-bottom: 1px solid var(--text-primary);
  box-sizing: border-box;
  height: 4rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem var(--padding-5xl);
}
.tagline4 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  opacity: 0;
}
.short-heading-here8 {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-desktop-h1-size);
  line-height: 120%;
  text-align: left;
}
.column52 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.lorem-ipsum-dolor14 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.styleprimary-smallfalse-da9 {
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
}
.stylesecondary-smallfalse15 {
  border-radius: var(--br-31xl);
  border: 1px solid var(--text-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
}
.actions25 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0rem 0rem;
  gap: var(--gap-base);
  font-size: var(--text-regular-link-size);
}
.column53 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--text-medium-semi-bold-size);
}
.content84 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.header-472 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  text-align: center;
}
.heading39 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.text65 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-medium-semi-bold-size);
  line-height: 150%;
}
.content86 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--heading-desktop-h2-size);
}
.section-title19 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.typedefault19 {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--background-color-primary);
  border: 1px solid var(--text-primary);
  box-sizing: border-box;
  height: 2.778rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.input21 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.type-your-message1 {
  flex: 1;
  position: relative;
  line-height: 150%;
  z-index: 0;
  align-self: stretch;
  border-radius: 15px;
  background-color: var(--background-color-primary);
  border: 1px solid var(--text-primary);
  box-sizing: border-box;
  height: 25.111rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
  position: relative;
  color: var(--color-neutral-neutral);
}
.text-area-inner {
  width: 0.111rem;
  position: absolute;
  margin: 0 !important;
  right: 0.111rem;
  bottom: 0.1rem;
  height: 0.111rem;
  object-fit: contain;
  z-index: 1;
}
.line-icon {
  width: 0.333rem;
  position: absolute;
  margin: 0 !important;
  right: 0.111rem;
  bottom: 0.111rem;
  height: 0.333rem;
  object-fit: contain;
  z-index: 2;
}
.text-area1 {
  align-self: stretch;
  border-radius: 15px;
  background-color: var(--background-color-primary);
  border: 1px solid var(--text-primary);
  box-sizing: border-box;
  height: 10.111rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
  position: relative;
  color: var(--color-neutral-neutral);
}
.checkbox3 {
  width: 1.111rem;
  position: relative;
  background-color: var(--background-color-primary);
  border: 1px solid var(--text-primary);
  box-sizing: border-box;
  height: 1.111rem;
  overflow: hidden;
  flex-shrink: 0;
}
.selectedfalse3 {
  width: 7.889rem;
  height: 2.056rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem 0rem var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  font-size: var(--text-small-link-size);
}
.styleprimary-smallfalse-da10 {
  width: 5.5rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
}
.content85 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.placeholder-image-icon37 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 40.778rem;
  object-fit: cover;
}
.contact-8 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
}
.heading40 {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.text66 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-regular-link-size);
  line-height: 150%;
}
.link {
  align-self: stretch;
  position: relative;
  font-size: var(--text-regular-link-size);
  text-decoration: underline;
  line-height: 150%;
}
.contact-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.content87 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.icon-phone {
  width: 2.667rem;
  position: relative;
  height: 2.667rem;
  overflow: hidden;
  flex-shrink: 0;
}
.row11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.contact-17 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  font-size: var(--heading-desktop-h4-size);
}
.logo2 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-four2 {
  width: 5.389rem;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.links2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.social-links2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xs);
}
.content93 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.divider2 {
  align-self: stretch;
  position: relative;
  background-color: var(--text-primary);
  border: 1px solid var(--text-primary);
  box-sizing: border-box;
  height: 0.056rem;
}
.privacy-policy2 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.row12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.credits2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--text-small-link-size);
}
.footer-42 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
}
.contact {
  position: relative;
  background-color: var(--color-silver);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-regular-link-size);
  color: var(--text-primary);
  font-family: var(--text-medium-semi-bold);
}

/*Modifications*/
.navbar-39, .header-472, .contact-8, .contact-17, .footer-42 {
  width: 100%;
  max-width: 100%;
  /*margin: 0 auto;*/
  box-sizing: border-box;

}

@media (max-width: 768px) {
  .content84, .content85, .links2, .social-links2 {
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
  }

  .contact-8 {
    padding-top: 0;
  }

  .placeholder-image-icon37 {
    width: 500;
    height: 250px;
  }

  .row11 {
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .content87 {
    justify-content: flex-start;
  }

  .content93 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1px;
  }
  .content117 {
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center;
    width: 99%;
  }
}

@media (max-width: 480px) {
  .content84 {
    min-width: 98%;
  }

  .content117 {
    flex-flow: column wrap;
  }
  .footer-44 {
    padding-top: var(--padding-5xl);
  }
}
