.chevron-down-icon11 {
  width: 1.333rem;
  position: relative;
  height: 1.333rem;
  overflow: hidden;
  flex-shrink: 0;
}
.nav-link-dropdown11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column61 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}

.color-dark15 {
  width: 80px;
  position: relative;
  height: 80px;
}
.content108 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.styleprimary-smalltrue-dar6 {
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
}
.column62 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}


.medium-length-hero {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.lorem-ipsum-dolor17 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-medium-semi-bold-size);
  line-height: 150%;
}
.content109 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.styleprimary-smallfalse-da13 {
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
}
.stylesecondary-smallfalse18 {
  border-radius: var(--br-31xl);
  border: 1px solid var(--background-color-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  color: var(--background-color-primary);
  background-color: transparent;
  color: white;
  /*height: 48px;*/

}
.actions29 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) 0rem 0rem;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--text-regular-link-size);
  color: var(--text-primary);
}
.column63 {
  width: 42.667rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.header-30 {
  width: 80rem;
  height: 50rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../../../src/assets/images/header--30@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--heading-desktop-h1-size);
  color: var(--background-color-primary);
}
.short-heading-goes {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.text75 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-regular-link-size);
  line-height: 150%;
}
.tab-horizontal {
  align-self: stretch;
  border-left: 2px solid var(--text-primary);
  box-sizing: border-box;
  height: 7.222rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem 0rem 0rem var(--padding-13xl);
  gap: var(--gap-base);
}
.tab-horizontal1 {
  align-self: stretch;
  height: 7.222rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem 0rem 0rem var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.tabs-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.222rem;
}
.placeholder-image-icon44 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 35.556rem;
  object-fit: cover;
}
.container31 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.layout-28 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  font-size: var(--heading-desktop-h4-size);
}
.subheading8 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  opacity: 0;
}
.subheading8-name{
  position: relative;
  line-height: 150%;
  font-weight: 600
}
.content110 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--heading-desktop-h2-size);
}
.section-title22 {
  width: 42.667rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.placeholder-image-icon45 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 13.333rem;
  flex-shrink: 0;
  object-fit: cover;
}
.column64 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.row16 {
  width: 72.889rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-29xl);
}
.stylelink-smallfalse-dark6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.actions30 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) 0rem 0rem;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--text-regular-link-size);
}
.content111 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--heading-desktop-h4-size);
}
.layout-2391 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
}
.section-title23 {
  width: 31.111rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.vector-icon18 {
  width: 1.111rem;
  position: relative;
  height: 1.05rem;
  color: #DB9E00;
}
.stars3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.quote3 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.avatar-image-icon3 {
  width: 3.111rem;
  position: relative;
  border-radius: 50%;
  height: 3.111rem;
  object-fit: cover;
}
.avatar-content3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--text-regular-link-size);
}
.content115 {
  width: 71.111rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-45xl);
  font-size: var(--heading-desktop-h6-size);
}
.testimonial-5 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  font-size: var(--heading-desktop-h2-size);
}
.content116 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.placeholder1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.typedefault22 {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--background-color-primary);
  border: 1px solid var(--text-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.styleprimary-smallfalse-da14 {
  width: auto;
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  color: var(--text-primary);
  border: none;
  color: white;
}

.by-clicking-sign1 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-tiny-normal-size);
  line-height: 150%;
  color: var(--text-primary);
}
.actions31 {
  width: 28.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--text-regular-link-size);
  color: var(--color-neutral-neutral);
}
.cta-8 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  font-size: var(--heading-desktop-h3-size);
}
.color-dark16 {
  width: 70px;
  position: relative;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}

.privacy-policy4 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}

.accueil1 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: var(--color-silver);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.accueil {
  width: 100%;
  position: relative;
  height: 230.661rem;
  text-align: left;
  font-size: var(--text-regular-link-size);
  color: var(--text-primary);
  font-family: var(--text-medium-semi-bold);
}
.link-one15 {
  position: relative;
  line-height: 150%;
}
.chevron-down-icon11 {
  width: 1.333rem;
  position: relative;
  height: 1.333rem;
  overflow: hidden;
  flex-shrink: 0;
}
.nav-link-dropdown11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column61 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}

.color-dark15 {
  width: 80px;
  position: relative;
  height: 80px;
}
.content108 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.styleprimary-smalltrue-dar6 {
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
}
.column62 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.medium-length-hero {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.lorem-ipsum-dolor17 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-medium-semi-bold-size);
  line-height: 150%;
}
.content109 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.styleprimary-smallfalse-da13 {
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
}
.stylesecondary-smallfalse18 {
  border-radius: var(--br-31xl);
  border: 1px solid var(--background-color-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  color: var(--background-color-primary);
}
.actions29 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0rem 0rem;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--text-regular-link-size);
  color: var(--text-primary);
}
.column63 {
  width: 42.667rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.header-30 {
  width: 80rem;
  height: 50rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../../../src/assets/images/header--30@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--heading-desktop-h1-size);
  color: var(--background-color-primary);
}
.short-heading-goes {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.text75 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-regular-link-size);
  line-height: 150%;
}
.tab-horizontal {
  align-self: stretch;
  border-left: 2px solid var(--text-primary);
  box-sizing: border-box;
  height: 7.222rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem 0rem 0rem var(--padding-13xl);
  gap: var(--gap-base);
}
.tab-horizontal1 {
  align-self: stretch;
  height: 7.222rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem 0rem 0rem var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.tabs-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.222rem;
}
.placeholder-image-icon44 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 35.556rem;
  object-fit: cover;
}
.container31 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.layout-28 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  font-size: var(--heading-desktop-h4-size);
}
.subheading8 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  opacity: 0;
}
.content110 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--heading-desktop-h2-size);
}
.section-title22 {
  width: 42.667rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.placeholder-image-icon45 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 13.333rem;
  flex-shrink: 0;
  object-fit: cover;
}
.column64 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.row16 {
  width: 72.889rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-29xl);
}
.stylelink-smallfalse-dark6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.actions30 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) 0rem 0rem;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--text-regular-link-size);
}
.content111 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--heading-desktop-h4-size);
}
.layout-2391 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
}
.section-title23 {
  width: 31.111rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.vector-icon18 {
  width: 1.111rem;
  position: relative;
  height: 1.05rem;
  color: #DB9E00;
}
.stars3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.quote3 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.avatar-image-icon3 {
  width: 3.111rem;
  position: relative;
  border-radius: 50%;
  height: 3.111rem;
  object-fit: cover;
}
.avatar-content3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--text-regular-link-size);
}
.content115 {
  width: 71.111rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-45xl);
  font-size: var(--heading-desktop-h6-size);
}
.testimonial-5 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  font-size: var(--heading-desktop-h2-size);
}
.content116 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.placeholder1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.typedefault22 {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--background-color-primary);
  border: 1px solid var(--text-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.styleprimary-smallfalse-da14 {
  width: auto;
  border-radius: var(--br-31xl);
  background-color: var(--color-brand-vert);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  color: var(--text-primary);
}
.form6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.by-clicking-sign1 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-tiny-normal-size);
  line-height: 150%;
  color: var(--text-primary);
}
.actions31 {
  width: 28.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--text-regular-link-size);
  color: var(--color-neutral-neutral);
}
.cta-8 {
  width: 80rem;
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  font-size: var(--heading-desktop-h3-size);
}
.color-dark16 {
  width: 70px;
  position: relative;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}

.divider4 {
  align-self: stretch;
  position: relative;
  background-color: var(--text-primary);
  border: 1px solid var(--text-primary);
  box-sizing: border-box;
  height: 0.056rem;
}
.privacy-policy4 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.row17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.credits4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--text-small-link-size);
}

.accueil1 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: var(--color-silver);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.accueil {
  width: 100%;
  position: relative;
  height: 230.661rem;
  text-align: left;
  font-size: var(--text-regular-link-size);
  color: var(--text-primary);
  font-family: var(--text-medium-semi-bold);
}

.cookie {
  position: fixed;
  margin: 0 auto;
  top: 30%;
  left: 30%;
  display: flex;
  flex-flow: column wrap;
  gap: var(--gap-5xl);
  width: 500px;
  height: auto;
  background-color: white;
  color: var(--text-primary);
  border: 1px solid white;
  border-radius: 10px;
  z-index: 1;
  padding: 20px;
  text-align: center;
  font-family: var(--text-medium-semi-bold);
  /* display: none; */
}
#cookie-consent-popup.active {
  opacity: 0;
}
.actionCookie {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-tertiair {
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
}
.btn-tertiair:hover {
  opacity: 1;
  color: rgb(17, 207, 115);
}

/*Modifications*/
/* Réinitialisation pour garantir que tout prend 100% de la largeur disponible */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Ajustement de l'accueil pour qu'il prenne toute la largeur */
.accueil1 {
  width: 100%;
  background-color: var(--color-silver);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Ajustement des conteneurs pour qu'ils prennent 100% de la largeur */


/* Ajustement des sections pour qu'elles prennent toute la largeur */
 .header-30, .layout-28, .layout-2391, .testimonial-5, .cta-8{
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

/* Ajout de responsive design */
@media (max-width: 1200px) {
  .header-30 {
    min-height: 50rem;
  }

  .navbar-311 {
    padding: 0px;
  }

  .column60, .column62, .color-dark9 {
    margin: 5px;
    box-shadow: none;
  }

  .tabs-menu {
    margin-left: 5px;
  }

  /*Row16*/
  .placeholder-image-icon44 {
    margin: 10px 10px 0px 0px;
  }
  .placeholder-image-icon45, .placeholder-image-icon4 {
    width: 60%;
    align-self: center;
  }

  .header-30 {
    height: auto;
    background-size: cover;
  }

  .column63 {
    width: 100%;
    margin: 10px;
  }

  .row16, .content115 {
    flex-direction: column;
    align-items: center;
  }

  .tab-horizontal, .tab-horizontal1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .quote3 {
    width: 80%;
  }
}

@media (max-width: 768px) {

  .container31 {
    flex-direction: column;
  }

  .testimonial-5 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content115 {
    align-items: center;
    justify-content: center;
    width: 99%;
  }

  .header-30 {
    text-align: center;
  }
  .row16 {
    width: 99%;
  }
}


@media (max-width: 480px) {
  .tab-horizontal, .tab-horizontal1 {
    width: 100%;
    height: auto;
  }

  .section-title22, .section-title23{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  .content109 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
  }

  .row16 {
    width: 99%;
  }
  .column64{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .actions31 {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column-reverse wrap;
  }

  .styleprimary-smallfalse-da14 {
    width: auto;
  }

  }
