<!-- tabs.component.html -->
<div class="layout-28">
  <div class="container31">
    <div class="tabs-menu">
      <div class="tab-horizontal">
        <b class="short-heading-goes">Trouvez votre havre unique</b>
        <div class="text75">
          AtipikHouse vous permet de louer des logements uniques et alternatifs en harmonie avec la nature.
          Découvrez des yourtes, des cabanes dans les arbres, des appartements flottants et des maisons dans
          des avions ou des bateaux, proposés par des particuliers et des entreprises.
        </div>
      </div>
      <div class="tab-horizontal1">
        <b class="short-heading-goes">Vivez une expérience inoubliable</b>
        <div class="text75">
          Recherchez, réservez et profitez de votre séjour dans des logements atypiques.
        </div>
      </div>
      <div class="tab-horizontal1">
        <b class="short-heading-goes">Explorez les possibilités</b>
        <div class="text75">
          Découvrez notre sélection de logements uniques et alternatifs.
        </div>
      </div>
    </div>
    <img class="placeholder-image-icon44" alt="appart_dans_une_forêt" src="../../../../assets/images/placeholder-image@2x.png" />
  </div>
</div>
