
<app-view-owner-appart-profile-menu></app-view-owner-appart-profile-menu>
<div class="consulter-les-appart-mis-en-lo">
  <div class="consulter-les-appart-mis-en-lo1">


    <div class="header-46">
      <div class="content2">
        <b class="short-heading-here">Mes locations</b>
        <div class="lorem-ipsum-dolor">
          Gérez vos appartements de manière simple et efficace
        </div>
      </div>
    </div>
    <app-view-owner-appart-list></app-view-owner-appart-list>
  </div>
</div>

