<div class="header-473">
  <div class="content95">
    <div class="column57">
      <div class="tagline5">Expérience</div>
      <b class="short-heading-here9">À Propos de Nous</b>
    </div>
    <div class="column58">
      <div class="lorem-ipsum-dolor15">
        Chez AtypikHouse, notre mission est de créer une expérience unique, iconique et insolite de vie en harmonie avec la nature. Nous croyons en la magie des lieux inhabituels tels que les yourtes, les cabanes dans les arbres, les appartements flottants, les maisons dans les avions ou les bateaux.
      </div>
      <div class="actions26">
        <!-- <div>
          <a href="#history" class="styleprimary-smallfalse-da11 btn-primary">En savoir plus</a>
        </div> -->
        <div>
          <a routerLink="/contact" class="styleprimary-smallfalse-da11 btn-primary">Contactez-nous</a>
        </div>
      </div>
    </div>
  </div>
</div>
