
<app-admin-profile-dropdown></app-admin-profile-dropdown>
<app-admin-dashboard-header></app-admin-dashboard-header>
<app-admin-feature-section
 title="Gérer utilisateurs"
  description="Notre fonctionnalité CRUD vous permet de créer, lire, mettre à jour et supprimer facilement les utilisateurs. Simplifiez votre gestion et gagnez du temps avec AtypickHouse."
  imageUrl="../../assets/images/gereUtilisateurs.png"
  buttonText="Gérer utilisateurs"
 routerLink="/dashboard-admin">
</app-admin-feature-section>

<app-admin-feature-section
  title="Gérer rôles"
  description="Grâce à cette fonctionnalité, vous pouvez désormais assigner, modifier ou retirer de nouveaux rôles aux utilisateurs."
  imageUrl="../../assets/images/rôles.png"
  buttonText="Gérer rôles" routerLink="/dashboard-admin-role">
</app-admin-feature-section>
<!-- Ajoutez d'autres sections similaires -->


