<div class="layout-249">
  <div class="section-title16">
    <div class="subheading">Découvrez</div>
    <div class="content50">
      <b class="short-heading-here6">Plus de catégories</b>
      <div class="lorem-ipsum-dolor12">Découvrez plus d'appartements</div>
    </div>
  </div>
  <div class="content51">
    <div class="row6">
      <div class="column33" *ngFor="let category of moreCategories">
        <img class="placeholder-image-icon22" [src]="category.url" alt="{{ category.title }}" />

        <div class="content52">
          <b class="heading18">{{ category.title }}</b>
          <div class="text38">{{ category.description }}</div>
        </div>
      </div>
    </div>
    <div class="actions19">
      <div class="styleprimary-smallfalse-da14 btn-primary">
        <!-- <button class="relume-all-rights" routerlink="cat/all">Voir plus</button> -->
        <a routerLink="/cat/all"><div class="relume-all-rights">Voir tout</div></a>
      </div>
      <div class="stylelink-smallfalse-dark1">
        <a routerLink="/list-appart"><div class="relume-all-rights">Réserver maintenant </div></a>
      </div>
    </div>
  </div>
</div>
