<div class="container">
  <h1>Mentions Légales</h1>

  <h2>1. Identité du propriétaire du site :</h2>
  <ul>
    <li><strong>Nom de l'entreprise :</strong> AtypikHouse SARL</li>
    <li><strong>Adresse du siège social :</strong> 12 Rue de la Liberté, 60350 Pierrefonds, France</li>
    <li><strong>Numéro de téléphone :</strong> +33 1 23 45 67 89</li>
    <li><strong>Adresse e-mail :</strong> <a href="mailto:contact@atypikhouse.fr">contact&#64;atypikhouse.fr</a></li>
    <li><strong>Numéro SIRET :</strong> 123 456 789 00012</li>
    <li><strong>Numéro de TVA intracommunautaire :</strong> FR12 345678900</li>
  </ul>

  <h2>2. Directeur de la publication :</h2>
  <ul>
    <li><strong>Nom et prénom :</strong> Jean Dupont</li>
  </ul>

  <h2>3. Hébergeur du site :</h2>
  <ul>
    <li><strong>Nom de l'hébergeur :</strong> OVHcloud</li>
    <li><strong>Adresse de l'hébergeur :</strong> 2 rue Kellermann, 59100 Roubaix, France</li>
    <li><strong>Numéro de téléphone de l'hébergeur :</strong> +33 9 72 10 10 07</li>
  </ul>

  <h2>4. Propriété intellectuelle :</h2>
  <p><strong>Droits d'auteur :</strong> Tous les contenus présents sur le site <a href="http://www.atypikhouse.fr" target="_blank">www.atypikhouse.fr</a> (textes, images, graphismes, logo) sont protégés par le droit d'auteur. Toute reproduction est interdite sans autorisation préalable.</p>

  <h2>5. Responsabilité :</h2>
  <p><strong>AtypikHouse</strong> s'efforce d'assurer l'exactitude et la mise à jour des informations diffusées sur ce site. Toutefois, AtypikHouse ne peut garantir l'exactitude, la précision ou l'exhaustivité des informations mises à disposition sur ce site.</p>
</div>
