<div class="contact-17">
  <div class="row11">
    <div class="content87">
      <img class="icon-phone" alt="" src="../../assets/images/icon--envelope.svg">
      <div class="contact-info" id="contact-infos">
        <b class="heading40">Email</b>
        <div class="link">contact#64;atypikhouse.com</div>
      </div>
    </div>
    <div class="content87">
      <img class="icon-phone" alt="" src="../../assets/images/icon--phone.svg">
      <div class="contact-info">
        <b class="heading40">Téléphone</b>
        <div class="link">+33 01000000</div>
      </div>
    </div>
    <div class="content87">
      <img class="icon-phone" alt="" src="../../assets/images/icon--map.svg">
      <div class="contact-info">
        <b class="heading40">Bureau</b>
        <div class="link">12 Rue de la Liberté, 60350 Pierrefonds, France</div>
      </div>
    </div>
  </div>
</div>
