<!-- footer.component.html -->
<div class="footer-44">
  <div class="content117">
    <div class="logo4">
      <a href="index.html"><img class="color-dark9" alt="logo_atypikHouse" src="../../../../assets/images/logo.jpeg" width="80px" height="80px" /></a>
    </div>
    <div class="links4">
      <div class="link-four4"><a routerLink="/list-appart">Appartements</a></div>
      <div class="link-four4"><a routerLink="/about">A propos</a></div>
      <div class="link-four4"><a routerLink="/contact">Contact</a></div>
      <div class="link-four4"><a href="#">FAQ</a></div>
      <div class="link-four4"><a routerLink="/login">Inscription</a></div>
    </div>
    <div class="social-links4">
      <a href=""><img class="chevron-down-icon11" alt="" src="../../../../assets/images/icon--facebook.svg" /></a>
      <a href=""><img class="chevron-down-icon11" alt="" src="../../../../assets/images/icon--instagram.svg" /></a>
      <a href="https://x.com/AtypikHouse_fr" target="_blank"><img class="chevron-down-icon11" alt="" src="../../../../assets/images/icon--x.svg" /></a>
      <a href=""><img class="chevron-down-icon11" alt="" src="../../../../assets/images/icon--linkedin.svg" /></a>
      <a href=""><img class="chevron-down-icon11" alt="" src="../../../../assets/images/icon--youtube.svg" /></a>
    </div>
  </div>
  <div class="credits4">
    <div class="divider4"></div>
    <div class="row17">
      <div class="link-one15">© 2024 AtypikHouse. Tous droits réservés.</div>
      <div class="row17">
        <a routerLink="/mentions"><div class="privacy-policy4">Mentions Légales</div></a>
        <a routerLink="/politique"><div class="privacy-policy4">Politique de confidentialité</div></a>
        <a routerLink="/cgu"><div class="privacy-policy4">Conditions générales d'utilisation</div></a>
        <a routerLink="/cgv"><div class="privacy-policy4">Conditions générales de ventes</div></a>
        <a routerLink="/cookies"><div class="privacy-policy4">Politique des cookies</div></a>
        <a href="#"><div class="privacy-policy4">Site Map</div></a>
      </div>
    </div>
  </div>
</div>
