<!-- header.component.html -->
<div class="header-471">
  <div class="content45">
    <div class="column25">
      <b class="short-heading-here5">Ajoutez votre hébergement</b>
    </div>
    <div class="column29">
      <div class="name">
        Partagez votre espace unique avec des voyageurs du monde entier. Créez une annonce attrayante pour votre habitat et commencez à accueillir des invités dès aujourd'hui.
      </div>
      <div class="actions17">
        <div class="stylesecondary-smallfalse6 btn-secondary-admin">
          <div class="link-one6" routerLink="/">Annuler</div>
        </div>
      </div>
    </div>
  </div>
</div>
