<div id="cookie-consent-popup" class="cookie">
    <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En continuant, vous acceptez l'utilisation de cookies.</p>
    <div class="actionCookie">
      <button id="decline-cookies" class="btn-tertiair" >Continuer sans accepter ></button>    
      <button id="accept-cookies" class="styleprimary-smallfalse-da14 btn-primary">Accepter</button>
    </div>
    <a routerLink="/cookies" style="color: #4CAF50;">En savoir plus</a>
  </div>