<div class="role-container">
    <h2>Liste des rôles</h2>
    <table class="role-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom du rôle</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <td>{{ role.id }}</td>
          <td>{{ role.roleName }}</td>
          <td>
            <button (click)="editRole(role)">Modifier</button>
            <button (click)="deleteRole(role.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  