<!-- newsletter.component.html -->
<div class="cta-8">
  <div class="container31">
    <div class="content116">
      <b class="medium-length-hero">Inscrivez-vous à notre newsletter</b>
      <div class="lorem-ipsum-dolor17">
        Recevez des mises à jour et des offres exclusives
      </div>
    </div>
    <div class="actions31">
      <p class="newsletter">Féliciation, vous avez rejoint notre newsletter !</p>
      <div class="form6">
        <input class="typedefault22" type="text" placeholder="Entrez votre email">
        <button class="styleprimary-smallfalse-da14 btn-primary">S'inscrire</button>
      </div>
      <div class="by-clicking-sign1">
        En cliquant sur S'inscrire, vous confirmez votre accord avec nos Conditions Générales.
      </div>
    </div>
  </div>
</div>
