<div class="cta-19">
  <div class="content62">
    <div class="content80">
      <b class="short-heading-here7">{{ heading }}</b>
      <div class="lorem-ipsum-dolor13">{{ description }}</div>
    </div>
    <div class="actions23">
      <div class="stylesecondary-smallfalse11 btn-primary">
        <div class="link-one9">{{ primaryAction }}</div>
      </div>
      <div class="stylesecondary-smallfalse13 btn-secondary">
        <div class="link-one9">{{ secondaryAction }}</div>
      </div>
    </div>
  </div>
</div>
