<div class="navbar-3">
  <div class="container">
    <!--Burger menu-->
    <button type="button" class="header__nav-toggler">
      <span class="line l1"></span>
      <span class="line l2"></span>
      <span class="line l3"></span>
    </button>
    <div class="column">
      <div class="column1 column61">
        <div class="link-one"><a routerLink="/home">Accueil</a></div>
        <div class="link-one"><a routerLink="/apartments">Appartements</a></div>
        <div class="nav-link-dropdown">
          <div class="link-one"><a routerLink="/categories">Categories</a></div>
        </div>
        <div class="link-one15"><a routerLink="/services">Découvrir nos services</a></div>
      </div>
    </div>
    <div>
      <a routerLink="/home"><img class="color-dark15" alt="" src="./assets/images/logo.jpeg" width="80px" height="80px" /></a>
    </div>
    <div class="column2">
      <img class="iconamoonprofile-duotone2" alt="" src="./assets/images/iconamoonprofileduotone.svg" id="profilIcon" />
    </div>
  </div>
</div>
