<!-- categories.component.html -->
<div class="layout-2391">
  <div class="section-title22">
    <div class="subheading8">Découvrez</div>
    <div class="content110">
      <b class="medium-length-hero">Toutes nos catégories d'habitats</b>
      <div class="lorem-ipsum-dolor17">
        Notre sélection d'hébergements atypiques, parfaits pour une escapade relaxante, une exploration en forêt ou un séjour dans un avion réaménagé.
      </div>
    </div>
  </div>
  <div class="content111">
    <div class="row16">
      <div class="column64">
        <img class="placeholder-image-icon45" alt="" src="../../../../assets/images/placeholder-image1@2x.png" />
        <div class="content109">
          <b class="short-heading-goes">Hébergements sur l'eau</b>
          <div class="text75">Détendez-vous dans nos hébergements en bord de l'eau, offrant une expérience unique et apaisante.</div>
        </div>
      </div>
      <div class="column64">
        <img class="placeholder-image-icon45" alt="" src="../../../../assets/images/placeholder-image28@2x.png" />
        <div class="content109">
          <b class="short-heading-goes">Exploration en Forêt</b>
          <div class="text75">Plongez au cœur de la nature avec nos hébergements en pleine forêt, pour une expérience authentique.</div>
        </div>
      </div>
      <div class="column64">
        <img class="placeholder-image-icon45" alt="" src="../../../../assets/images/placeholder-image29@2x.png" />
        <div class="content109">
          <b class="short-heading-goes">Avion Réaménagé</b>
          <div class="text75">Vivez une expérience hors du commun dans notre avion réaménagé, transformé en un lieu de séjour unique.</div>
        </div>
      </div>
    </div>
    <div class="actions30">
      <a routerLink="/list-appart"><button class="styleprimary-smallfalse-da14 btn-primary">Découvrir</button></a>
      <div class="stylelink-smallfalse-dark6">
        <div class="link-one15"><a routerLink="/list-appart">Réserver</a></div>
        <img class="chevron-down-icon11" alt="" src="../../../../assets/images/icon--chevronright.svg" />
      </div>
    </div>
  </div>
</div>
