<!-- navbar.component.html -->
<div class="navbar-36">
  <div class="container19">
    <!--Burger menu-->
    <button type="button" class="header__nav-toggler">
      <span class="line l1"></span>
      <span class="line l2"></span>
      <span class="line l3"></span>
    </button>
    <div class="column25">
      <div class="column26 column61">
        <div class="link-one6"><a href="index.html">Accueil</a></div>
        <div class="link-one6"><a href="list-des-appartements.html">Appartements</a></div>
        <div class="nav-link-dropdown6">
          <div class="link-one6"><a href="catgories.html">Categories</a></div>
        </div>
        <div class="link-one15"><a href="propos.html">Découvrir nos services</a></div>
      </div>
    </div>
    <div>
      <a href="index.html"><img class="color-dark9" alt="logo" src="../../assets/images/logo.jpeg" width="80px" height="80px" /></a>
    </div>
    <div class="column27">
      <img class="iconamoonprofile-duotone2" alt="icon-profil" src="../../assets/images/iconamoonprofileduotone.svg" id="profilIcon" />
    </div>
  </div>
</div>
