<!-- header.component.html -->
<div class="header-501">
  <div class="container22">
    <div class="section-title15">
      <div class="subheading">Tagline</div>
      <div class="content49">
        <b class="short-heading-here6">Sélection des meilleurs habitats à la campagne</b>
        <div class="lorem-ipsum-dolor12">
          Découvrez une sélection d'haibtats les mieux notés à la campagne, avec une verdure et un calme plus qu'apaisants.
        </div>
      </div>
    </div>
    <div class="actions18">
      <div class="styleprimary-smallfalse-da6 btn-primary">
        <div routerLink="/list-appart">Réserver</div>
      </div>
    </div>
  </div>
</div>
