<div class="header-47">
  <canvas id="confetti-canvas" style="position:fixed; top:0; left:0; width:100%; height:100%; pointer-events:none;"></canvas>
  <div class="content10">
    <div class="column4">
      <b class="short-heading-here1">Confirmation de réservation</b>
    </div>
    <div class="column8">
      <div class="lorem-ipsum-dolor1">
        Votre réservation a été confirmée avec succès. Profitez de votre séjour!
      </div>
      <div class="actions7">
        <div class="styleprimary-smallfalse-da1 btn-primary">
          <a routerLink="/" class="link-one1">Retour à l’accueil</a>
        </div>
      </div>
    </div>
  </div>
</div>
